* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
	background-color: lightgrey;
	width: 100%;
	min-height: 300px;
	display: grid;
	grid-template-rows: 38px auto 50px;

}
header {
	grid-row: 1/2;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.heading {
	display: flex;
	justify-content: center;
	font-family: Arial;
}
main{
	grid-row: 2/3;
	display:grid;
	grid-template-rows: 1fr auto;
}
.about-me{
	grid-row: 1/2;
	text-align: center;
	background-color: coral;
	display: flex;
	flex-direction: column;
}
#biography{
	
	grid-row: 1/2;
	text-align: center;
}
#professional-photo{
	grid-row: 1/2;
	display: flex;
	justify-content: center;
}
.my-projects{
	grid-row:2/3;

	display:flex;
	text-align: center;
}
.project{
	display:flex;

	flex-direction: column;
	align-items: center;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1;
  	display: flex;
    text-align: center;
    justify-content: flex-end;
}
#menu li a  {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
li a: hover{
	background-color: red;
}

footer{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: dodgerblue;
}
.jacob-photo {
	border-radius:50%;
}
